:root {
    --color-primary: #000088;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    color: #fff;
}

h1 {
    font-size: 1.6rem;
    background-color: var(--color-primary);
}
