@import url("https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Gugi&display=swap");

:root {
  --accent-color: #ff5f15;
  --secondary-bg-color: #708090;
  --main-bg-color: #121212;

  --text-main-color: #f2f2f2;

  --font-family-header: "Gugi", sans-serif;
  --font-family-normal: "Geo", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* debugging */
* {
  /* outline: 1px solid red; */
}

body {
  background-color: var(--main-bg-color);
  color: var(--text-main-color);

  font-family: var(--font-family-normal);
}

header {
  display: grid;
  height: 75px;
  grid-template-columns: 1fr 1fr;
  padding: 0 16px;
  font-family: var(--font-family-header);
  font-size: 20px;
}

.img-container {
  min-height: 25px;
}

.img-container img {
  height: 100%;
  width: 100;
}

header ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
  gap: 16px;
}

header ul li a:link,
header ul li a:visited,
header ul li a:active {
  color: var(--text-main-color);
  text-decoration: none;
}

header ul li a:hover {
  transition: font-size 300ms;
  font-size: 24px;
}

.hero h1 {
  font-size: 12rem;
  font-family: var(--font-family-header);
  background: url("https://images.unsplash.com/photo-1649235338878-3755d1894356?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-clip: text;
  color: transparent;
  text-align: center;
  padding: 48px 0;
}
